html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.grid-card {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    h1,
    h2 {
        max-width: 300px;
        margin: 15px auto;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        max-width: 320px;
        margin: 0 auto;
        padding: 10px;

        a {
            text-decoration: none;
            img {
                border-radius: 10px;
                height: 140px;
                width: 100px;
                object-fit: cover;
            }

            h3 {
                margin: 0 auto;
                max-width: 100px;
            }
        }
    }

    &#havebeen {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 450px;
            padding: 0;
        }
    }
}

#witness,
#form,
#havebeen,
#confirmation,
#done {
    display: none;
}

.container {
    text-align: center;
    width: 100%;
    display: none;

    #form,
    #done {
        margin: 15px auto;
        max-width: 300px;
        padding: 5px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        min-width: 250px;
        .text {
            text-align: justify;
        }
    }
}

header {
    width: 100%;
    background-color: #441a48;
    text-align: center;
    padding: 15px 0;

    img {
        width: 140px;
    }
}

h1,
h2,
h3 {
    color: #441a48;
}

ul.options {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    padding: 20px;
    background-color: #441a48;
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    display: block;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        background-color: #6d3672;
    }
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    margin: 10px 0;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    border: 1px solid #441a48;
    background-color: white;
    font-size: 13px;
    color: white;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 17px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #441a48 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #441a48 transparent;
    top: 10px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #441a48;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    border: 1px solid #441a48;
    padding: 10px;
    width: 100%;
    min-height: 100px;
    display: block;
    margin: 10px 0;
    color: #441a48;
    overflow: auto;
    box-sizing: border-box;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    /*remove the resize handle on the bottom right*/
}

input {
    border: 1px solid #441a48;
    color: #441a48;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    outline: none;
}

@import 'partials/particles';