html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #8ee2d4;
    font-family: 'Josefin Sans', sans-serif;
}
.container {
    text-align: center;
    padding: 40px;
}
h1 {
    color: #CC1C77;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;

    li {
        padding: 10px;
        background-color: #cc1c77;
        width: 100%;
        height: 45px;
        box-sizing: border-box;
        margin-bottom: 15px;
        color: #8ee2d4;
    }
}