table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.col {
	float: left;
	height: 100%;
	max-width: 100%; !important
}
.column-1 {
	min-width: 60%;
}
.column-2 {
	width: 40%;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.foreground {
	height: 96vh; !important
}
.jumbotron {
	padding-top: 25px;
}
body {
	padding: 10px 50px;
	background-color: #c2c2c2;
	overflow: hidden;
}
.reports {
	width: 100%;
	height: 100%;
	background-color: #969696; 
	overflow: auto;
}
.report {
	padding: 10px;
	margin: 10px;	
}
.score {
	text-align: center;
	font-size: 50px;
}
h4 {
	text-align: center;
}

.middle {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
}